@media (prefers-color-scheme: dark) {
    :root {
        --small-border: #B6B6B6;
        --large-border: #C7C7C7;
        --big-background: #292929;
        --special-background: #121212;

        --small-background: #313131;
        --small-background-hover: #3C3C3C;
        --small-background-active: #414141;
        --small-background-selection: #454545;

        --medium-background: #353535;
        --large-background: #414141;


    }

    h1{ color: #EAEAEA; }
    h2{ color: #E5E5E5; }
    h3{ color: #DDDDDD; }
    h4{ color: #D0D0D0; }
    h5{ color: #C8C8C8; }
    h6{ color: #BABABA; }
    p{ color: #BABABA; }

    .touch:hover {
        background: #3C3C3C;
    }

    .touch:active {

        background: #414141;
    }

    .touch::selection {

        background: #454545;
    }
}